%h1= t('dashboard.editor_dashboard')

%h3= t('dashboard.unpublished_article')
#unpublished-articles
  -if @articles != nil
    - @articles.each do |article|
      %p
        = link_to article.headline, article_path(article)
        |
        = link_to t('article.approval'), article_path(article, approve: true ), method: :patch
        |
        = link_to t('article.edit_link'), edit_article_path(article)
        |
        = link_to t('article.delete_link'), article_path(article), method: :delete
        |
      %p
        = t('dashboard.written_by')
        = mail_to article.user.email
      %hr
%br

%h3= t('dashboard.unpublished_comment')
#unpublished-comments
  - if @comments != nil
    - @comments.each do |comment|
      %p
        = t('dashboard.comment')
        = "\"#{comment.content}\""
        |
        = link_to t('comment.approval'), article_comment_path(comment.article,comment), method: :patch
        |
      %p
        = t('dashboard.comment_by')
        = mail_to comment.user.email
      %p
        = t('dashboard.on_article')
        = link_to comment.article.headline, article_path(comment.article)
      %hr
%br

=link_to t('article.back_link'), root_path
